.navbar-nav a:hover
{
    color: orangered!important;
}

.navbar{
    margin: 0;
    padding: 2px;
    background-color: #e9eff4;
    border-bottom: 1px solid black;
}
.navbar-nav a{
    font-size: 16px;
    margin-left: 6px;
    margin-right: 6px;
    color: #007bff!important; 
}




/* the promo4 */
#promo4{
    
     margin-top: 10;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.67)),url("../img/startup-desk.jpg");
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    color: #efefef !important;
    text-align: center;
    padding: 50px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
#promo4 h1{
    margin-bottom: 50px;
    margin-top: 30px;
    font-family: sans-serif;
    font-size: 78px;
}


#promo4 p{
    margin-bottom: 35px;
    margin-top: 0;
    font-family: sans-serif;
    font-size: 60px;
}


/* ----ABOUT US SECTION---- */

#about{
    margin-top: 100px;
   
}
#but{
    
    margin-top: 20px;
    margin-bottom: 30px;
}


.bars{
    margin-top: 36px;
    margin-bottom: 20px;
}
.about-content{
    padding-top: 20px;
    text-align: justify;
    font-weight: 600;
    color: gray;
}
.bars p{
    margin-bottom: 6px;
    font-weight: 600;
    margin-top: 30
}
.progress-bar{
    border-radius: 16px;
}
.progress{
     border-radius: 16px;
}
#about-usss-h2{
    color: #007bff;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
}


.card-text{
    align-content: center;
    text-align: center;
    font-family:sans-serif;
    font-size: 24px;
    color: black;
}



/* the promo2 */
#promo2{
    
     margin-top: 10;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.67)),url("../img/startup-desk.jpg");
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    color: #efefef !important;
    text-align: center;
    padding: 10px 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    
}
#promo2 h1{
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 78px;
}
#promo2 p{
    margin-bottom: 15px;
    margin-top: 0;
    font-family: arial;
    font-size: 20px;
}


/* ----EDUCATION section---- */

#about2{
    margin-top: 30px;
   
}
#but{
    margin-top: 20px;
    margin-bottom: 30px;
}

.about-content{
    padding-top: 20px;
    text-align: justify;
    font-weight: 600;
    color: grey;
}
#about-usss-h2{
    color: #007bff;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
}


.card-text{
    align-content: center;
    text-align: justify;
    font-family: arial;
    font-size: 14px;
    color: black;
    
    
}
.about2 .card-img-top{
    height: 200px;
}

.card{
      transition: box-shadow .3s;
}

.card:hover
{  box-shadow: 0 0 11px rgba(33,33,33,.4); }













@media screen and (max-width: 480px){
    
    #promo4 p{
    margin-bottom: 35px;
    margin-top: 0;
    font-family: sans-serif;
    font-size: 30px;
}
    
    
    #promo2{
    
     margin-top: 10;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.67)),url("../img/startup-desk.jpg");
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    color: #efefef !important;
    text-align: center;
    padding: 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
    #promo2 h1{
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: sans-serif;
    font-size: 45px;
}
    #promo2 p{
    margin-bottom: 15px;
    margin-top: 0;
    font-family: arial;
    font-size: 14px;
}
    #about{
    margin-top: 50px;
   
}
    #about-usss-h2{
    color: #007bff;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

}
